<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body style="background-color:powderblue;">-->
<!--<body>-->

<!--<h2>{{ name_of_country }}</h2>-->

<!--<p><b>Bevölkerung der Türkei: 85.04 M</b></p>-->
<!--<p><b>Alphabetisierungsrate der Türkei: 85% </b></p>-->
<!--<img src="png/turkey.png" alt="A Flower Bouquet"/>-->

<!--</body>-->
<!--</html>-->
<h1>{% block title %} Der Grapische Ansicht von den Ländern {% endblock %}</h1>
<body style="background-color:powderblue;">
<div style="text-align: center;">
    <table class="image-table">
<tbody>
<tr>
<td>
<img src="png/turkey.jpeg" style="border:2px Solid black">
    <p><strong>Bevölkerung der Türkei: 85 Millionen Menschen</strong></p>
</td>
<td>
<img src="png/usa.jpeg" style="border:2px Solid black">
    <p><strong>Bevölkerung der VSA: 331.9 Millionen Menschen</strong></p>
</td>
</tr>
</tbody>
</table>
    </div>
<br>
<div style="text-align:
center;">
    <table class="image-table">
<tbody>
<tr>
<td>
<img src="png/uk.jpeg" alt="Açıklama" title="Başlık" style="border:2px Solid black">
    <p><strong>Bevölkerung von UK: 67.33 Millionen Menschen</strong></p>
</td>
<td>
<img src="png/belgium.jpeg" alt="Açıklama" title="Başlık" style="border:2px Solid black">
    <p><strong>Bevölkerung von Belgium: 11.59 Millionen Menschen</strong></p>
</td>
</tr>
</tbody>
</table>
</div>
</body>